<html>
    <head>
        <title>What I do</title>
        <link rel="stylesheet" href="static/index.css">
    </head>
    <body>
        <h1>Below are the Technologies I love</h1>
        <h1>Hover over them to learn more</h1>
        
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
    <div class="flipper">
        <div class="front">
            <img src="/static/AVR_logo.png" alt="AVR Microcontrollers" height="200" width="200">
        </div>
        <div class="back">
            The heartbeat of the arduino! 
            I actually began working with
            an ATMEGA 2560 Dev board 
            before I had used
            an Arduino. The 
            documentation is 
            phenomenal and is always
            a pleasure to use. 
        </div>
    </div>
</div>
</html>